// http://ionicframework.com/docs/v2/theming/

/* font-Samim */
  @font-face {
      font-family: Samim;
      src: url('../fonts/samim.eot');
      src: url('../fonts/samim.eot?#iefix') format('embedded-opentype'),
           url('../fonts/samim.woff') format('woff'),
           url('../fonts/samim.ttf') format('truetype');
      font-weight: normal;
    }

*{font-family: Samim;}
h1,h2,h3,h4,h5,h6,p,button,ion-item{ direction: rtl;}
ion-title {float: right;}
.small-font {font-size: 1.1rem!important;}
.small-font8 {font-size: .8rem!important;}
.large-font {font-size: 2.5rem!important;}
.line-h-l {line-height: 2.5rem!important;}
.padding-top20{padding-top: 20px;}
ion-slides { height: 100px;}
.sefid {color:#fff;}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
